✨ хвилинка музикальної терапії:

<strong><%= name %></strong> by <%= artists.join(', ') %>

<a href="<%= external_urls['spotify'].html_safe %>">🧷 посилання на спотік</a>


<a href="https://t.me/mentality_conservation">закон збереження твоєї менталочки</a>
